@using System.Web.Optimization;
@using JaiSmi.Models;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/content/bootstrap", "~/content/layout", "~/content/shared")
</head>
<body>
    <div class="container-fluid">
        @{Html.RenderPartial("~/Views/Shared/Header.cshtml", new HeaderModel());}
        <div class="content-wrapper">
            @RenderBody()
        </div>
        @{Html.RenderPartial("~/Views/Shared/Footer.cshtml");}
    </div>

    @Scripts.Render("~/bundles/jQuery", "~/bundles/namespace", "~/bundles/bootstrap", "~/bundles/isotope", "~/bundles/shared")
    @RenderSection("Scripts", false)
    @Html.RenderScripts()
</body>
</html>
